<div class="about">
    <div class="me">
        <img src="images/meForSite.jpg" alt="Photo" class="me__photo">
        <div class="me-text">
            <h1 class="me__name">Алексей</h1>
            <h1 class="me__surname">Денисов <span>.</span></h1>
        </div>
    </div>
    <div class="iam">
        <h3 class="iam__title">
            Привет, Я <span>junior frontend-developer</span> из Новосибирска <br>
            Я могу помочь вам создать ваш продукт.
        </h3>
        <p class="iam__text">
            Я проектирую и создаю веб-приложения. <br>
            Есть проект который вы хотите обсудить? <br>
            Напишите <a href="">AldeOwl@gmail.com</a> <br>
            или позвоните: <a href="">+7(983)3040207</a>
        </p>
    </div>
</div>