<div class="about">
    <div class="about__title">
        <img src="images/meForSite.jpg" alt="Photo" class="about__photo">
        <div class="about__text">
            <h1 class="about__name">Алексей</h1>
            <h1 class="about__surname">Денисов<span>.</span></h1>
        </div>
    </div>
    <div class="about__content">
        <h3 class="about__content-title">
            Привет, я <span>junior frontend-developer</span> из Новосибирска <br>
            Я могу помочь вам создать ваш продукт.
        </h3>
        <p class="about__content-text">
            Я проектирую и создаю веб-приложения. <br>
            Есть проект который вы хотите обсудить? <br>
            Напишите <a href="mailto:AldeOwl@gmail.com">AldeOwl@gmail.com</a> <br>
            или позвоните: <a href="tel:+79833040207">+7(983)3040207</a>
        </p>
    </div>
</div>