<footer class="footer">
    <div class="footer-wrap">
        <div class="footer__iam">
            <h2 class="footer__iam-title">Алексей Денисов</h2>
            <p class="footer__iam-text">Я junior frontend-developer.
                 Я могу помочь вам построить ваш следующий продукт.
            </p>
        </div>
        <div class="footer__menu">
            <h2 class="footer__menu-title">Меню</h2>
            <div class="footer__menu-list">
                <a id="footerAboutMe" class="footer__menu-item">Обо мне</a>
                <a id="footerWorks" class="footer__menu-item">Работы</a>
                <a id="footerSkills" class="footer__menu-item">Навыки</a>
                <a id="footerGit" class="footer__menu-item">Репозитории</a>
            </div>
        </div>
        <div class="footer__contact">
            <h2 class="footer__contact-title">Контакты</h2>
            <a href="mailto:AldeOwl@gmail.com" class="footer__contact-mail">AldeOwl@gmail.com</a>
            <a href="tel:+79833040207" class="footer__contact-tel">+7(983)3040207</a>
            <div class="footer__contact-social">
                <a class="social-linkidin" href="https://www.linkedin.com/in/aleksey-denisov-371ba8107/"></a>
                <a class="social-github" href="https://github.com/AldeOwl"></a>
            </div>
        </div>
    </div>
</footer>