<section class="git">
    <div class="git__title">
        <div class="git__title-wrap">
            <h2>Github</h2>
            <p>Вот несколько репозиториев с моими проектами на Github:</p>
        </div>
    </div>
    <div class="git__list">
        
    </div>
</section>