<header class="header">
    <div class="logo"><h1>///Alde</h1></div>
    <div class="menu">
        <nav class="menu__item">
            <a class="menu__item-link" href="#">Мои работы</a>
        </nav>
        <nav class="menu__item">
            <a class="menu__item-link" href="#">Навыки</a>
        </nav>
        <nav class="menu__item">
            <a class="menu__item-link" href="#">Репозитории</a>
        </nav>
    </div>
</header>