<header class="header">
    <div class="logo"><h1>//Alde</h1></div>
    <div class="menu">
        <nav class="menu__item">
            <a id="myworks" class="menu__item-link">Мои работы</a>
        </nav>
        <nav class="menu__item">
            <a id="skills" class="menu__item-link">Навыки</a>
        </nav>
        <nav class="menu__item">
            <a id="git" class="menu__item-link">Репозитории</a>
        </nav>
    </div>
    <div class="mobile-menu">
        <div class="mobile-menu__btn">
            <div class="mobile-menu__item mobile-menu__item-first"></div>
            <div class="mobile-menu__item mobile-menu__item-second"></div>
            <div class="mobile-menu__item mobile-menu__item-third "></div>
        </div>
    </div>
</header>