<section class="hire-me">
    <h2 class="hire-me__title">Наймите меня</h2>
    <p class="hire-me__text">Итак, вы ищете профессионального, коммуникабельного и
         пунктуального программиста с обширными навыками веб-разработки для вашего 
         следующего проекта?</p>
    <p class="hire-me__text">Если у вас есть приложение, которое вы заинтересованы
         создать с использованием веб-технологий, я бы с удовольствием 
         поработал с вами над ним.  
         </p>
    <a href="mailto:AldeOwl@gmail.com" class="hire-me__mail">AldeOwl@gmail.com</a>
</section>