<section class="skills">
    <div class="skills__title">
        <div class="skills__title-wrap">
            <div class="skills__title-wrap">
                <h2>Навыки</h2>
                <p>Вот несколько вещей в которых я хорошо разбираюсь:</p>
            </div>
        </div>
    </div>
    <div class="skills__list">
        <div class="list__item">
            <h3 class="list__item-title"><span>01</span>HTML</h3>
            <p class="list__item-text">HTML 5, Семантическая верстка</p>
        </div>
        <div class="list__item">
            <h3 class="list__item-title"><span>02</span>CSS</h3>
            <p class="list__item-text">Адаптивная, кроссбраузерная верстка с использованием
                Flexbox/Grid
            </p>
        </div>
        <div class="list__item">
            <h3 class="list__item-title"><span>03</span>JavaScript</h3>
            <p class="list__item-text">Нативный JS, ES5/ES6</p>
        </div>
        <div class="list__item">
            <h3 class="list__item-title"><span>04</span>Gulp</h3>
            <p class="list__item-text">Изспользую для сборки проектов, 
                                       транспиляции JS кода,
                                       обработки CSS файлов
                                       </p>
        </div>
        <div class="list__item">
            <h3 class="list__item-title"><span>05</span>PostCSS</h3>
            <p class="list__item-text">В работе пользуюсь этим постпроцессором</p>
        </div>
        <div class="list__item">
            <h3 class="list__item-title"><span>06</span>Git</h3>
            <p class="list__item-text">Работаю с системой контроля версий Git</p>
        </div>
    </div>
</section>