<section class="skills">
    <div class="skills__title">
        <h2>Навыки</h2>
        <p>Вот несколько вещей в которых я хорошо разбираюсь:</p>
    </div>
    <div class="skills__list">
        <div class="list__item">
            <h3 class="list__item-title"><span>01</span>HTML</h3>
            <p class="list__item-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam molestias hic quod esse nisi beatae ad atque unde! Officia, sequi!</p>
        </div>
        <div class="list__item">
            <h3 class="list__item-title"><span>02</span>CSS</h3>
            <p class="list__item-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam molestias hic quod esse nisi beatae ad atque unde! Officia, sequi!</p>
        </div>
        <div class="list__item">
            <h3 class="list__item-title"><span>03</span>JavaScript</h3>
            <p class="list__item-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam molestias hic quod esse nisi beatae ad atque unde! Officia, sequi!</p>
        </div>
        <div class="list__item">
            <h3 class="list__item-title"><span>04</span>Gulp</h3>
            <p class="list__item-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam molestias hic quod esse nisi beatae ad atque unde! Officia, sequi!</p>
        </div>
        <div class="list__item">
            <h3 class="list__item-title"><span>05</span>PostCSS</h3>
            <p class="list__item-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam molestias hic quod esse nisi beatae ad atque unde! Officia, sequi!</p>
        </div>
        <div class="list__item">
            <h3 class="list__item-title"><span>06</span>Flexbox</h3>
            <p class="list__item-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam molestias hic quod esse nisi beatae ad atque unde! Officia, sequi!</p>
        </div>
    </div>
</section>