<div class="wrap">
    <section class="works">
        <div class="works__title">
            <h3 class="title-text">
                Последние работы
            </h3>
        </div>
        <div class="works__img">
            <div class="img-item">
                <h5 class="img-item-text">
                    Tesla Landing Page
                </h5>
                </div>
            <div class="img-item">
                <h5 class="img-item-text">
                    Tesla Landing Page
                </h5>
            </div>
            
        </div>
    </section>
</div>