<div class="wrap">
    <section class="works">
        <div class="works__title">
            <h3 class="title-text">
                Последние работы
            </h3>
        </div>
        <div class="works__list">
            <a href="https://aldeowl.github.io/TeslaProject/" class="works__item">
                <img class="works__item-img" src="images/tesla.png" alt="">
                <div class="works__item-cover">
                    <h3 class="works__item-title">Tesla</h3>
                    <p class="works__item-desc">Адаптивный лендинг с использованием Flexbox</p>
                </div>
            </a>
            <a href="https://aldeowl.github.io/catch-the-mouse/" class="works__item">
                <img class="works__item-img" src="images/jsgame.png" alt="">
                <div class="works__item-cover works__item-cover-mouse">
                    <h3 class="works__item-title">Catch the mouse</h3>
                    <p class="works__item-desc">Игра на JavaScript</p>
                </div>
            </a>
                
            
        </div>
    </section>
</div>