.wrap {
    max-width: 1250px;
    min-width: 320px;
    margin: auto;
    margin-top: 70px;
    @media screen and (max-width:799px){
        margin-top: 0;
    }
}
.about {
    padding: 20px;
    box-sizing: border-box;
}
.me {
    display: flex;
    align-items: flex-end;
    @media screen and (max-width:629px){
        flex-direction: column;
        align-items: flex-start;
    }
    &-text {
        font-size: 2em;
        @media screen and (max-width:699px){
            padding-top: 30px;
        }
        @media screen and (max-width:629px){
            font-size: 1.75em;
        }
    }
    &__photo {
        width: 250px;
        margin-right: 70px;
        @media screen and (max-width:699px){
            margin-right: 15px;
        }
    }
    &__name {
        color: #83838E;
        line-height: 40px;
    }
    &__surname {
        margin: 0;
        color: #FFC700;
        & span {
            color: #83838E;
        }
    }
}
.iam {
    margin-top: 80px;
    @media screen and (max-width:629px){
        margin-top: 30px;
    }
    &__title {
        font-size: 33px;
        & span {
            color: #0094FF;
        }
    }
    &__text {
        margin-top: 35px;
        font-size: 23px;
        line-height: 35px;
        & a {
            color: #0094FF;
        }
    }
}