.git {
    display: flex;
    justify-content: space-between;
    margin-bottom: 500px;
    padding: 20px;
    box-sizing: border-box;
    @media screen and (max-width:799px){
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 100px;
    }
    &__title {
        width: 45%;
        @media screen and (max-width:799px){
            width: 100%;
            margin-bottom: 50px;
        }
        &-wrap {
            position: sticky;
            top: 20em;
            min-height: 2em;
        }
        & h2 {
            font-size: 33px;
            color: #0094FF;
            font-weight: 600;
            @media screen and (max-width:799px){
                font-size: 25px;
            }
        }
        & p {
            font-size: 33px;
            @media screen and (max-width:799px){
                font-size: 25px;
            }
        }
    }
    &__list {
        width: 40%;
        @media screen and (max-width:799px){
            width: 100%;
        }
    }
   
}
.git__item {
    margin-bottom: 50px;
    @media screen and (max-width:799px){
        margin-bottom: 20px;
    }
    &:last-child {
        margin-bottom: 0;
    }
    &-title {
        font-size: 23px;
        text-decoration: none;
        font-weight: bold;
        color: #83838E;
        & span {
            margin-right: 10px;
            color: #FFC700;
        }
        &:hover {
            color: #0094FF;
        }
    }
    &-text {
        font-size: 23px;
        margin-top: 10px;
    }
}