.git {
    display: flex;
    justify-content: space-between;
    margin-bottom: 500px;
    &__title {
        width: 45%;
        &-wrap {
            position: sticky;
            top: 20em;
            min-height: 2em;
        }
        & h2 {
            font-size: 33px;
            color: #0094FF;
            font-weight: 600;
        }
        & p {
            font-size: 33px;
        }
    }
    &__list {
        width: 40%;
    }
   
}
.git__item {
    margin-bottom: 50px;
    &:last-child {
        margin-bottom: 0;
    }
    &-title {
        font-size: 23px;
        text-decoration: none;
        font-weight: bold;
        color: #83838E;
        & span {
            margin-right: 10px;
            color: #FFC700;
        }
        &:hover {
            color: #0094FF;
        }
    }
    &-text {
        font-size: 23px;
        margin-top: 10px;
    }
}