.header {
    max-width: 1250px;
    min-width: 320px;
    margin: auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    text-align: center;
    font-size: 30px;
    color: #83838E
}
.menu {
    width: 45%;
    display: flex;
    justify-content: space-around;
    &__item {
        
        &-link {
            color: #ADADB9;
            font-size: 17px;
            text-decoration: none;
            &:hover {
                color: #0094FF;
                text-decoration-line: underline;
            }
        }
    }
}