.header {
    max-width: 1250px;
    min-width: 320px;
    margin: auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    @media screen and (max-width:799px){
        justify-content: center;
    }
}
.logo {
    text-align: center;
    font-size: 30px;
    color: #83838E;
    @media screen and (max-width:799px){
        font-size: 20px;
    }
}
.menu {
    width: 45%;
    display: flex;
    justify-content: space-around;
    @media screen and (max-width:799px){
        display: none;
    }
    &__item {
        
        &-link {
            color: #ADADB9;
            font-size: 17px;
            text-decoration: none;
            font-weight: 500;
            transition: .3s linear;
            cursor: pointer;
            &:hover {
                color: #0094FF;
                text-decoration-line: underline;
            }
        }
    }
}
.mobile-menu {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #FFC700;
    display: none;
    position: fixed;
    bottom: 1%;
    left: 40%;
    z-index: 100;
    justify-content: center;
    align-items: center;
    @media screen and (max-width:799px){
        display: flex;
    }
    &__profile{
        display: none;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #FFC700;
        position: absolute;
        bottom: -129%;
        left: -300%;
        background-image: url(../images/user.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px;
        animation: showProfile .5s ease-out;
    }
    &__works{
        display: none;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #FFC700;
        position: absolute;
        bottom: 130%;
        left: -250%;
        background-image: url(../images/briefcase.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px;
        animation: showWorks .5s ease-out;
    }
    &__skills{
        display: none;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #FFC700;
        position: absolute;
        bottom: 310%;
        left: -140%;
        background-image: url(../images/list.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px;
        animation: showSkills .5s ease-out;
    }
    &__git{
        display: none;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #FFC700;
        position: absolute;
        bottom: 360%;
        left: 0%;
        background-image: url(../images/gitmobile.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px;
        animation: showGit .5s ease-out;
    }
    &__linkid{
        display: none;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #FFC700;
        position: absolute;
        bottom: 310%;
        left: 140%;
        background-image: url(../images/LinkedInmobile.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px;
        animation: showLinkid .5s ease-out;
    }
    &__mail{
        display: none;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #FFC700;
        position: absolute;
        bottom: 130%;
        left: 250%;
        background-image: url(../images/mail.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px;
        animation: showMail .5s ease-out;
    }
    &__phone{
        display: none;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #FFC700;
        position: absolute;
        bottom: -129%;
        left: 300%;
        background-image: url(../images/telephone.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px;
        animation: showPhone .5s ease-out;
    }
    &__active {
        display: block;
    }
}

.mobile-menu__btn {
    width: 40px;
    height: 20px;
    position: relative;
    cursor: pointer;
}
.mobile-menu__item {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #ffffff;
    border-radius: 4px;
    transition: .5s;
    &-active {
        transform: rotate(45deg);
        top: 10px;
    }
}
.mobile-menu__item_second {
    top: 10px;
    &-active {
        height: 0;
    }
}
.mobile-menu__item_third {
    top: 20px;
    &-active {
        transform: rotate(-45deg);
        top: 10px;
    }
}
@keyframes showProfile {
    0%{
        transform: translateX(50px);
    }
    100%{
        transform: translateX(0px);
    }
}
@keyframes showWorks {
    0%{
        transform: translateY(50px) translateX(50px);
    }
    100%{
        transform: translateX(0px);
    }
}
@keyframes showSkills {
    0%{
        transform: translateY(80px) translateX(60px);
    }
    100%{
        transform: translateX(0px);
    }
}
@keyframes showGit {
    0%{
        transform: translateY(80px);
    }
    100%{
        transform: translateX(0px);
    }
}
@keyframes showLinkid {
    0%{
        transform: translateY(80px) translateX(-60px);
    }
    100%{
        transform: translateX(0px);
    }
}
@keyframes showMail {
    0%{
        transform: translateY(50px) translateX(-50px);
    }
    100%{
        transform: translateX(0px);
    }
}
@keyframes showPhone {
    0%{
        transform: translateX(-50px);
    }
    100%{
        transform: translateX(0px);
    }
}