.hire-me {
    margin-bottom: 200px;
    &__title{
        font-size: 33px;
        color: #0094FF;
        font-weight: 600;
        margin-bottom: 20px;
    }
    &__text {
        font-size: 33px;
        margin-bottom: 50px;
    }
    &__mail {
        font-size: 33px;
        color: #0094FF;
        font-weight: 600;
    }
}