.works {
    margin-bottom: 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__title {
        padding-left: 37px;
        @media screen and (max-width:1149px){
            padding-left: 0;
        }
    }
    @media screen and (max-width:1149px){
        height: auto;
    }
}
.title-text {
    margin: 15px;
    font-size: 33px;
    color: #0094FF;
    font-weight: 600;
}
.works {
    padding: 20px;
    &__list {
        display: flex;
        justify-content: space-around;
        @media screen and (max-width:1149px){
            flex-direction: column;
            justify-content: center;
        }
    }
    &__item {
        position: relative;
        margin-bottom: 20px;
        width: 100%;
        max-width: 520px;
        text-decoration: none;
        &-img {
            width: 100%;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
        }
        &-cover {
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: #e00000;
            color: #ffffff;
            opacity: 0;
            transition: .4s ease-out;
            &-mouse {
                background-color: #87c44f;
            }
        }
        &-title {
            margin: 20px;
            font-size: 25px;
            text-transform: uppercase;
        }
        &-desc {
            margin: 30px;
            font-size: 20px;
        }
        &:hover .works__item-cover{
            opacity: 1;
        }
    }
}
